@theme {
    --z-index-backdrop: 100;
    --z-index-cookie-notice: 200;
    --z-index-site-header: 300;
    --z-index-announcement-banner: 400;
    --z-index-modal: 800;
    --z-index-screen-reader: 1000;
}
