// ----------------------------------------------
// Base Styles
// ----------------------------------------------

// Generic
@import './_fonts.pcss' layer(base);
@import './_base.pcss' layer(base);
@import './_type-elements.pcss' layer(base);
